<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"><h1>Welcome to VBN</h1></div>
        <div class="col"></div>
    </div>
    <div class="jumbotron">

        <div class="row">


            <div class="col"></div>
            <div class="col">

                <div class="form-group">
                    {{acno}}
                    <label for="accno">Account number</label>
                    <input [(ngModel)]="acno" name="accnos" class="form-control" id="accno" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="pint">password</label>
                    <input [(ngModel)]="pwd" name="pwds" class="form-control" id="pint">
                </div>
                <button type="login" class="btn btn-primary" (click)="login()">Submit</button>
                <a routerLink="register">registration</a>




        </div>
        <div class="col"></div>
    </div>
</div>







</div>



</body>

<!-- input #acno type =text........
<input #pwd type=password
login(acno,pwd)
In ts file 
login(abc,def)
var accno=abc.value;
var pwwd=def.value
This method is called Template referencing




-->
