
<body>
    <div class="container">
        <div class ="row">
            <div class ="col">
               <h1> Deposit </h1>
            
                <table>
                    <tr>
                    <td>accno</td>
                    <td><input (change)= "acnoSet($event)" type="text"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input (change)="pinSet($event)" type="text" id ="pin"></td>
                     </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input (change)="amtSet($event)" type="text" id="amt"> </td>
                     </tr>
                    <tr>
                       <td><input type="button" (click)="deposit()" value="proceed"></td>

                        
                    </tr>
                </table>

                
            </div>
                <div class ="col">
                    <h1>Withdraw</h1>
                    <table>
                        <tr>
                        <td>accno</td>
                        <td><input (change)= "acnoSet($event)" type="text" id ="acnt"></td>
                        </tr>
                        <tr>
                            <td>Pin</td>
                            <td><input (change)="pinSet($event)" type="text" id ="pint"></td>
                         </tr>
                        <tr>
                            <td>Amount</td>
                            <td><input (change)="amtSet($event)" type="text" id="amtt"> </td>
                         </tr>
                        <tr>
                           <td><input type="button" (click)="withdraw()" value="withdraw"></td>

                            
                        </tr>
                    </table>


                </div>
        </div>
    </div>

</body>
