<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Transaction History</h1>
                <div class="jumbotron">
                    <table>
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of transactions">
                                <td>{{transaction.Amount}}</td>

                                <td>{{transaction.Type}}</td>
                            </tr>

                        </tbody>

                    </table>
                </div>




            </div>
        </div>
    </div>


</body>